<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou.dao.extension.CourseExtensionMapper">
  
  <resultMap type="com.zhiyou.model.extension.CourseExtension" id="courseMap2">
		<id column="id" property="id" />
		<result column="course_title" property="courseTitle" />
		<result column="course_desc" property="courseDesc" />
		<result column="subject_id" property="subjectId" />
		<association column="subject_id" property="subject"
			javaType="com.zhiyou.model.Subject">
			<id column="subject_id" property="subjectId" />
			<result column="subject_name" property="subjectName" />
		</association>
		<collection property="videos" ofType="com.zhiyou.model.extension.VideoExtension">
			<id column="video_id" property="videoId" />
			<result column="title" property="title" />
			<result column="detail" property="detail" />
			<result column="time" property="time" />
			<result column="video_url" property="videoUrl" />
			<result column="image_url" property="imageUrl" />
			<result column="play_num" property="playNum" />
			<result column="speaker_id" property="speakerId" />
			<result column="course_id" property="courseId" />
			<association column="speaker_id" property="speaker"
				javaType="com.zhiyou.model.Speaker">
				<id column="id" property="id" />
				<result column="speaker_name" property="speakerName" />
				<result column="speaker_desc" property="speakerDesc" />
				<result column="speaker_job" property="speakerJob" />
				<result column="pic_url" property="picUrl" />
			</association>
		</collection>
	</resultMap>

	<select id="selectIncludeVideoAndSubjectBySubjectId"
		resultMap="courseMap2">
		select * from course c LEFT JOIN
		video v on c.id = v.course_id LEFT JOIN
		subject s on c.subject_id = s.subject_id LEFT JOIN
		speaker sp ON v.speaker_id = sp.id
		where c.subject_id = #{subjectId}
	</select>
</mapper>